
Library/*
obj/*
Logs/*
Temp/*
UserSettings/*
Assets/Ultimate Platformer Pack - Dec 2021 - Copy/*
Assets/CasualGameSounds/*
Assets/JMO Assets/*
Assets/CasualGameSounds.meta
Assets/JMO Assets.meta
Assets/Ultimate Platformer Pack - Dec 2021 - Copy.meta
CFXR.WelcomeScreen.csproj
CFXRDemo.csproj
CFXREditor.csproj
CFXRRuntime.csproj
KinoBloom.Runtime.csproj
ToonyColorsPro.Demo.Editor.csproj
Assets/Plugins/Demigiant/*
Assets/Plugins/Demigiant.meta
.vs/*
.vsconfig
3DMovement.sln
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
